.sidebar-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.post-container{
    width: 100%;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.post{
    padding: 5px;
}
.feature-media{
    width: 30%;
    overflow: hidden;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background: no-repeat center;
}
.content{
    width: 67%;
}
.feature-media,
.content{
    display: inline-block;
}
.title{
    vertical-align: text-top;
    max-height: 37px;    
    overflow: hidden;
}
.title-link{
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.date{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 10px;
}

/* No Media(Thumbnail) */
.no-media .content{
    width: 100%;
}