:host{
    width: 100%;
    display: block;
    margin-top: 10px;
}

.post-area{
    margin: 0 auto;
    padding: 1.4%;
    position: relative;
    box-sizing: border-box;
}
.author-container{
    text-align: center;
}
.author{
    text-decoration: none;
}
.author .avatar{
    width: 48px;
    border-radius: 50%;
}

.author .name{
    font-size: 0.8em;
    display: block;
}

.date,
.date-modified{
    font-size: 0.8em;
    text-align: center;
    margin:5px auto 5px;
}
.feature-media{
    display: block;
    margin: 0 auto;
}
.categories{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.category{
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    text-decoration: none;
}
.no-left-sidebar.no-right-sidebar{
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 1170px) and (max-width: 1366px){
    .pure-u-3-24{
        width: 16.6667%;
    }
    .pure-u-21-24{
        width: 83.3333%;
    }
}

@media screen and (max-width: 1200px) {
    app-sidebars{
      display: none;
    }
    .post-area{
        display: block;
    }
}

@media screen and (max-width: 768px){
    :host{
        margin-top: 0;
    }
    .date,
    .category{
        font-size: 0.9em;
    }
    .post-area{
        width: 100%;
    }
}